
/* 
    Created on : 3 dic 2024, 12:36:31
    Author     : daw2
*/

/*------GENERAL------*/

*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}

header{
    background-color: #131921; 
    display: flex;    
}

h1{
    text-align: center;
    font-size: 500%;
    background-color: #131921;    
    color: white;  
    padding: 2% 0px;   
    width: 60%;
    margin-left: 23%;
}

#logo{
        position: absolute;    
        border-radius: 10px;
        left: 5%; 
        top: 5%;
        width: 8%;
        height: 8%;
}

 body{                              
    display: flex;
    flex-direction: column;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;                     
    min-height: 100%;
    height: 100%;
    width: 100%;
}

footer{
    display: flex;
    flex-direction: row;                 
    justify-content: center;
    background-color: #232F3E;
    font-size: 140%;
}


footer p{
    text-align: center;                
    width: fit-content;   
    margin: 2% 1.5%;                          
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer p:hover{
    text-decoration: underline;  
    color: white;
}


/*------indexLoginLogoffTema5------*/


header form{
    height: 100%;
    width: 20%;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1%;
    
    #zonaUsuario{
        width: 35%; 
    }
            
    button{
        background-color: #131921;
    }
    
    img{
        height: 35px;
        width: 60px;       
    }
    
    input{
        border: none;
        background-color: #131921;
        color: white;
        font-size: 110%;
    }
    input:hover{
        color: #c97923;
        text-decoration: underline;
    }
}

#headerLogin h1{
    margin-left: 20%;
}

#headerLogin form{
    width: 10%;
    margin-left: -2%;
}

#headerPrograma form{
    width: 35%;
    margin-left: 7%;
}

.dropdown{
    color: white;    
    height: 10%;
}
.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);    
  background-color: #131921; 
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

#index button{
    border: none;
    margin: 5px auto;
}

#index main{
    
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;     
    height: 100%;  
    width: 100%;
    align-items: center;                    
    
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: center;    
}

#contenedorCarrusel{
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 50%; height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .carousel{
                position: relative;
                width: 500px;
                height: 400px;
                outline: 3px solid purple;
                border-radius: 5px;
                overflow: hidden;
            }
            .photos{            
                width: 100%;
                height: 400px;                
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.5s ease;
                img{
                    height: 155%;
                }
            }
            .buttons{
                position: absolute;
                bottom: 2px;
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 10px;
                margin-left: 80%;
            }  
            input{
                display: none;
            }

        

        label{
            content: "";
            display: block;
            width: 32px; height: 32px;            
            
            border-radius: 50%;
            border: #FFD814 1px solid;
        }
        
        #one:checked ~ .photos{
            transform: translate(1000px);
        }
        #two:checked ~ .photos{
            transform: translate(600px);
        }
        #three:checked ~ .photos{
            transform: translate(70px);
        }
        #four:checked ~ .photos{
            transform: translate(-300px);
        }
        #five:checked ~ .photos{
            transform: translate(-850px);
        }
        #one:checked ~ .buttons #lbl1,        
        #two:checked ~ .buttons #lbl2,
        #three:checked ~ .buttons #lbl3,
        #four:checked ~ .buttons #lbl4,
        #five:checked ~ .buttons #lbl5{
            background-color: #FFD814;
        }
        }

/*------Login------*/

#login{
    width: 100%;
    height: 100%;
}

#login form{
    width: 20%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;        
    margin: 0 auto;
    
    
    
    input{    
        margin-top: 1%;
        margin-bottom: 10%;
        height: 6%;
        background-color: white;
        border-radius: 5px;
        border: 1px solid gray;
        color: black;
    }
    
    input:focus{
        box-shadow: 0px 0px 2px 2px blue;
    }
    
    #botonLogin, #botonRegistro{
        width: 70%;
        align-self: center;
        background-color: #FFD814; 
        border: none;
        padding: 7px;
        border-radius: 10px;
        box-shadow: none;
    }
    #botonLogin:hover, #botonRegistro:hover{
        background-color: #F7CA00;
    }
}


/*------Programa------*/

#headerPrograma{
    p{
        color: white;        
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
        
    }
    h1{
        width: 15%;
        margin-left: 40%;
        
    }
    
    
    #logo{
        position: absolute;    
        border-radius: 10px;
        left: 5%; 
        top: 5%;
        width: 8%;
        height: 8%;
    }
}


#programa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin: 0 auto;       
    height: 110%;              
    border-radius: 9%;    
    width: 100%;
    
}

#programa p{
    text-align: center;
    margin: 0 auto;
    background-color: white;
    width: 40%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px #888888;
}

#programa div{
    width: 100%;
    margin-top: 4%;
    
}

#programa form{       
    margin: 0 auto;
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    input{        
        background-color: #FFD814; 
        border: none;
        padding: 0.5%;
        border-radius: 10px;
        box-shadow: none;
    }
    input:hover{
        background-color: #F7CA00;
    }
}

#zonaImagenNasaJs{
    position: absolute;
    bottom: 11%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; width: 17%;
        img{            
            margin-top: -8%;
            max-height: 85%;
            max-width: 100%;
        }
    }
}



/*------Detalle------*/

#headerDetalle{        
    form{               
        p{
            color: white;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    h1{
        width: 15%;
        margin-left: 43%;
        
    }

    
    button{
        background-color: #131921;
        display: flex;
        justify-content: center;
        width: 10%;
        margin: 0;
        margin-right: 15px;
    }
    
    img{
        height: 35px;
        width: 60px;         
    }
    
    #logo{
        position: absolute;    
        border-radius: 10px;
        left: 5%; 
        top: 5%;
        width: 8%;
        height: 8%;
    }
}

#detalle{
    overflow: auto;
}

#detalle div p{
    text-align: center;
    margin: 0.3% 0;
}

#detalle div table{
    margin: 0 auto;
    margin-bottom: 1.5%;
    width: 60%;
}

#detalle div table, #detalle div td, #detalle div tr{
    border: 1px solid black;
    border-collapse: collapse;
}
#detalle div td:nth-of-type(odd){
    background-color: #E3E6E6;
    font-weight: bold;
}

#headerError{
    h1{
        margin-left: 20%;
    }
}

#error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    div{
        background-color: rgba(255, 0, 0, 0.2);
        padding: 3%;
        border-radius: 10px;
        span{
            font-weight: bold;
        }
        h3{
            font-weight: bold;
            color: red;
        }
    }
    
    form{
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: center;
        margin-top: 3%;
    }
    
    #volver{
        width: fit-content;
        font-size: 150%;
        padding: 0% 1%;
        background-color: #FFD814; 
        border: none;                
        border-radius: 10px;
        box-shadow: none;       
    }
    #volver:hover{
        background-color: #F7CA00;
    }
}

#wip{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
            
    form{
        margin-top: 5%;
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: center;
    }
    
    #volver{
        width: fit-content;
        font-size: 150%;
        padding: 0% 1%;
        background-color: #FFD814; 
        border: none;
        
        
        border-radius: 10px;
        box-shadow: none;
    }
    #volver:hover{
        background-color: #F7CA00;
    }
}

#headerRest{
    position: relative;
    img{
        margin-top: 2%;
        height: 45%;       
    }
    h1{
        margin: 0 auto;
    }
    
    form{
        position: absolute;
        right: 5%;
    }
}

#rest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    form{
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    #solicitarFotoNasa{
        border: none;
        background-color: #FFD814;
        padding: 2% 3%;
        border-radius: 10px;
    }
    
    #solicitarFotoNasa:hover{
        background-color: #F7CA00;
    }
    
    .cajaRest{
        width: 33%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;      
        margin:
        p{
            width: 85%;
        }
        img{            
            height: 30%; width: 30%; 
        }       
    }
    
    .cajaRest:nth-of-type(2){
        form{
            display: flex;
            flex-direction: column;
            height: 75%;
        }
    }
}

#headerMantenimientoDepartamentos{
    p{color:white;} 
    h1{
        font-size: 370%;
        margin-left: 20%;
    }
    form{
        margin-left: -5%;
        display: flex;
        justify-content: space-around;
    }
    #zonaUsuario{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#mantenimientoDepartamentos{
    display: flex;
    flex-direction: column;    
    align-items: center;
    
    form{
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 5%;
        
        #divDescripcion{
            display: flex;
            justify-content: space-around;
            align-items: center;            
            textarea{
                width: 50%;
            }            
        }
        #divEnviar{
            margin-top: 4%;
            display: flex;
            justify-content: center;
            input{
                background-color: #FFD814;
                border: none;
                border-radius: 7px;
                padding: 30% 70%;
            }
            input:hover{
                background-color: #F7CA00;
            }
        }
        #a単adir{
            background-color: #FFD814;
            border: none;
            border-radius: 7px;
            padding: 10% 20%;
        }
        #a単adir:hover{
            background-color: #F7CA00;
        }
    }
    
    table, td, th, tr{
        border: 1px solid black;
        border-collapse: collapse;
        padding: 10px 50px;
    }
    
    table{
        margin-top: 5%;
        td{text-align: center;}
        td:nth-of-type(2){text-align: left;}
        td:nth-of-type(4){text-align: right;}
    }
}

#headera単adirDepartamento{
    p{color: white;}
    h1{
        font-size: 370%;
        margin-left: 20%;
    }
    form{
        margin-left: -5%;
        display: flex;
        justify-content: space-around;
    }
    #zonaUsuario{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#a単adirDepartamento{
    height: 100%;
    form{        
        font-size: 220%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%;        
        div{
            display: flex;
            align-items: center;            
            width: 100%;
            input, textarea{
                margin-left: 5%;
                height: 70%;
            }           
        }
        #divEnviar{            
            justify-content: center;
            input{
                margin-left: 0%;
                background-color: #FFD814;
                border: none;
                border-radius: 7px;
                padding: 3% 6%;
                height: auto;
            }     
            input:hover{
                background-color: #F7CA00;
            }
        }
    }
}

#editarDepartamento{
    #aceptarEditar{
        background-color: #FFD814;
        border: none;
        border-radius: 7px;
        padding: 3% 6%;
    }
    #aceptarEditar:hover{
        background-color: #F7CA00;
    }
    #cancelarEditar{
        background-color: red;
        color: white;
        border: none;
        border-radius: 7px;
        padding: 3% 6%;
    }
    #cancelarEditar:hover{
        background-color:  #af0c0c ;
    }
}

.borrarDepartamento{
    border: none;
    height: 40px;
    width: 40px;
    background: none;
    color: transparent;
    background-image: url(../images/borrar.png);
    background-size: cover;
    background-position: center;
}

.editarDepartamento{    
    border: none;
    height: 40px;
    width: 40px;
    background: none;
    color: transparent;
    background-image: url(../images/editar.png);
    background-size: cover;
    background-position: center;
}

.borrarDepartamento:hover, .editarDepartamento:hover{
    cursor: pointer;
}